.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.button-container {
  display: grid;
  width: 250px;
  text-align: center;
  grid-template-columns: 1fr 5fr 1fr;
}

.message {
  font-size: 1.6rem;
  font-weight: normal;
  color: #333;
}